.menu {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}
.landing {
  text-align: center;
  background-size: cover;
  background-image: url(../img/backgrounds/landing.jpg);
}
#happyHour {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  color: black;
  font-size: 15px;
  padding-left: 1px;
}
#partyTime{
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  background-color: red;
  font-size: 15px;
  padding-left: 1px;
}
.fastfoodimg {
  padding-top: 25px;
  padding-left: 50px
  padding-right: 2px;
  margin-left: 5%;
}
body {
  margin: 20px;
  font-size: 25px;
}

/*section 4 stylings*/
.section4 {
  background-image: url(../img/backgrounds/foodsBg.jpg);
  background-size: cover;
  text-align: center;
  padding: 100px 0px
}
.container {
  padding: 25px;
  background-color: white;
  color: cyan;
}
/* section 5 stylings */
.section5 {
  padding-left: 50px;
  padding-right: 50px;
}
#testimonialsRow {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-top: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  box-shadow: 0 0 10px grey;
}
#testimonialsRow h2{
  color: cyan;
  font-size:40px;
  font-weight: 400;
}
#testimonialsColumn {
  border-right: 2px solid grey;
}
#aboutMenu {
  font-size: 70%;
}
 /*-section 6 styling--*/
.section6 {
  background-image: url("../img/backgrounds/subscribe.jpg");
  background-size: cover;
  padding-left: 350px;
  padding-bottom: 200px;
  padding-top: 50px;
  color: white;
}
#subcribeButton {
  background-color: blue;
  display: inline-block;

}
.section7 {
  padding-top: 25px;
  padding-left: 600px;
  padding-right: 150px;
  color: white;
  background-color: red;
}
.inline {
  float: left;
  padding-left: 10px;
}
